# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Data and Private Information
data/invoices/*
!data/invoices/.gitkeep
data/bonnen/*
!data/bonnen/.gitkeep
data/*.db
*.db
*.sqlite3

# OS
.DS_Store
